# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# .git/info/exclude

**/pull_request_template.md
**/issue_template.md
**/target/
**/bin/
**/META-INF/**

#Eclipse
**/.metadata
**/.project
**/.settings/
**/.classpath
**/.recommenders/**
**/Servers
**/.springBeans

#IDEA
**/.idea/
**/*.iml

#AngularJS
**/.tern-project

#Mac
.DS_Store
/.recommenders/
